/* for all */

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.7),
      rgba(11, 11, 154, 0.7)
    ),
    url("assets/cow-bg.png") no-repeat center center fixed;
  background-size: contain;
  color: white;
}

nav {
  padding: 20px;
  display: flex;
  justify-content: space-around;
}
.logo{
  font-size: 20px;
}
nav ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
}
nav ul li {
  display: inline-block;
}

nav ul li a {
  text-decoration: underline;
  color: #b7b6c1;
  text-decoration-color: #94958b;
  padding: 10px 20px;
}

/* main content */

.container {
  margin: 20px;
}
.container h1 {
  font-size: 50px;
}

.content {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
}

.text{
  width: 50%;
  height: auto;
  padding: 20px;
  border: 2px solid rgb(19, 1, 1);
  margin: 10px;
}
.text h2{
  padding-bottom: 10px;
  font-size: 31px;
}

.text p{
  font-size: 20px;
}

.image{
  /* width: 50%; */
  /* height: auto; */
  padding: 20px;
  margin: 10px;
  display: flex;
  justify-content: center;
}
.image img{
  width: 30%;
  height: 30%;
}